* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f5f8;
}

button {
  border: none;
  background: none;
}

header {
  background-color: #2680c0;
  height: 5rem;
  display: flex;
  justify-content: center;
}

main {
  width: 50vw;
  margin: 0 auto;
}

img {
  width: 80px;
  height: 80px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
}

.heading {
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1.5px;
}

.empty-cart {
  color: #617d98;
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 3px;
}

.shopping-bag {
  font-size: 35px;
  color: #fff;
}

.items-count {
  position: relative;
  bottom: 1.8rem;
  right: 1rem;
  font-size: 20px;
  background-color: #85c6f4;
  color: #fff;
  padding: 4px 8px;
  border-radius: 50%;
}

.body-heading {
  margin-top: 4rem;
  text-align: center;
  color: #102a42;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.items-list {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 100px 600px 20px;
  padding: 10px;
}

.item-name {
  color: #102a42;
  font-size: 16px;
  font-size: 200;
  letter-spacing: 1px;
}

.item-price {
  color: #617d98;
  font-weight: 500;
}

.remove-btn {
  color: #2680c0;
  font-size: 14px;
  padding-top: 10px;
  cursor: pointer;
  font-weight: 100;
  letter-spacing: 1px;
}

.remove-btn:hover {
  color: #85c6f4;
}

.alter-count-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alter-btn {
  font-size: 18px;
  color: #2680c0;
  cursor: pointer;
}

.alter-btn:hover {
  color: #85c6f4;
}

hr {
  margin-top: 1.5rem;
}

.total-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #102a42;
}

.bottom-btn {
  display: flex;
  justify-content: center;
}

.clear-cart-btn {
  background-color: white;
  color: black;
  border: 1px solid red;
  color: #bb2525;
  border-radius: 5px;
  width: 10rem;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
}

.clear-cart-btn:hover {
  background-color: #e66b6b;
  color: #bb2525;
  cursor: pointer;
}

.loading {
  text-align: center;
  color: #102a42;
  font-size: 42px;
  margin-top: 2rem;
  font-weight: 800;
}
